@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: #323739;
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #065051;
}

html {
  font-family: "Open Sans", sans-serif;
  background-color: #090e11;
}
